/* ==========================================================================
   Helper Classes
   ========================================================================== */

.hide {
	display:none;
}

.margin-auto {
	margin: 0 auto;
}

.full-width {
	width:100%;
}

.full-height {
	height:100%;
}

.pull-right {
	float:right;
}

.pull-left {
	float:left;
}

.text-center {
	text-align: center;
}

/* ==========================================================================
   Website Styles
   ========================================================================== */

#homepage {
	color: #fff;
	margin:auto;
	overflow:auto;
	text-shadow: rgba(0, 0, 0, 0.796875) 0px 2px 2px;
}

section {
	border:4px solid green;
}